html, body, main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2f3542;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    max-width: 920px;
    margin: 0 auto;
    color: white;
}

li { 
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffa502;
}